<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowd Resto | Submission</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#mainContent" aria-label="skip-to-content" tabindex="0" class="skip-link">Menuju ke konten utama</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">Crowdresto</h1>
        </div>
        <a href="#" id="menu" aria-label="navigation-menu" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a aria-label="nav-home" href="index.html">Home</a></li>
            <li class="nav__item"><a aria-label="nav-favourite" href="#">Favourite</a></li>
            <li class="nav__item"><a aria-label="nav-about" href="https://github.com/Al-Mutawakkil" target="_blank" rel="noopener">About Me</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Kumpulan Restoran Indonesia Favorit Sepanjang Masa</h1>
            <p class="hero__tagline">Temukan rekomendasi restoran terbaik sepanjang masa dari seluruh penjuru indonesia</p>
        </div>
    </div>
    <main id="mainContent">
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurants</h1>
                <div class="posts" id="posts"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>All Right Reserved &copy; Copyright 2021 - Crowd Resto. Created with <span>&hearts;</span>.</p>
    </footer>
</body>
</html>